<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:site_name" content="Brain PHP"/>
        <meta property="og:language" content="fr"/>
        <meta name="twitter:author" content="@yapi_fulgence"/>
        <meta property="og:description" content="Framework php"/>
        <meta property="og:url" content="{{ path('home') }}"/>
        <meta name="robots" content="index" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Brain PHP</title>
        <link rel="manifest" href="../manifest.json">
        {% block head %}{% endblock head %}
    </head>
    <body>
        
        {% block body %}{% endblock body %}
      

    </body>
</html>
